/* Basic CSS for the E-Governance Project */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    background-color: #2c3e50 !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ecf0f1;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
    font-weight: bold;
}

.navbar-logo {
    height: 40px;
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}



.user-menu {

    margin-left: auto;

}



.login-btn-container {

    margin-left: auto;

}



footer {

    background-color: #34495e;

    color: #ecf0f1;

    padding: 20px 0;

    text-align: center;

    position: relative;

    bottom: 0;

    width: 100%;

}



@media (max-width: 992px) {

    .login-btn-container,

    .user-menu {

        margin-left: 0;

        margin-top: 10px;

    }

}
