
# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/
virtualenv/

# =========================
# Django
# =========================
*.log
local_settings.py

# Database
db.sqlite3
db.sqlite3-journal

# Media & static files
media/
staticfiles/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/
.tox/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Celery
# =========================
celerybeat-schedule
celerybeat.pid
X
^X


